*.log
*.lof
*.lol
*.lot
*.toc
*.blg
*.bbl
*.aux
*.kilepr
*-blx.bib
*~
*.backup
*.run.xml
*.bcf
*.fig
*.bak
*.out
RobertoDiRemigioPhDThesis.pdf
papers/SC15.pdf
papers/pcmepr.pdf
papers/pcmopenrsp.pdf
*.tdo
*.nlo
*.nls
*.ilg
